/* Fonts
  ============================= */
@font-face {
  font-family: 'sans-pro';
  src: url('../../fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Variables
  ============================= */
$font-family_primary: sans-pro;
$primary-color: white;
$secondary-color: #071629;
$button-primary-color: #ff6565;
